@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,600;0,700;1,100;1,200;1,300;1,400;1,700&display=swap');

:root{
     --black: #000;
     --yellow: #FF912B;
     --light--orange: #F9D9AA;
     --brown: #2F2105;
     --bg: #F6EBDA;
     --light--gray: #7E7D7A;
     --gray: #7E7D7A;
}

*{
     margin: 0;
     padding: 0;
     font-family: 'Poppins', sans-serif;
}

body{
     width: 100vw;
     overflow-x: hidden;
}

.container{
     width: 80%;
     margin: 0 auto;
}

.title{
     font-weight: 600;
     font-size: 40px;
     line-height: 60px;
}

.title span{
     border-bottom: 4px solid var(--yellow);
}

/* Mobile Menu */
.mobile__menu{
     display: none;
}

.menu__close{
     padding: 20px 0;
     margin: 0 auto;
     width: 90%;
     display: flex;
     justify-content: space-between;
     align-items: center;
     font-size: 24px;

}




/* NavBar */

nav{
     padding: 40px 0;
     margin: 0 auto;
     width: 80%;
     display: grid;
     grid-template-columns: repeat(3, 1fr);
}

.nav__part{
     display: flex;
     align-items: center;
}

.nav__part:nth-child(1){
     justify-content: flex-start;
}

.nav__part:nth-child(2){
     justify-content: center;
}

.nav__part:nth-child(3){
     justify-content: flex-end;
}

.logo{
     height: 40px;
}

.nav__part i{
     font-size: 32px;
     transition: 0.2s ease;
}

.nav__part i:hover{
     cursor: pointer;
     color: var(--yellow);
}

.amout__products{
     position: absolute;
     margin-top: -4px;
     margin-right: 10px;
     font-size: 8px;
     color: white;
     display: flex;
     justify-content: center;
     align-items: center;
}

nav a{
     color: var(--black);
     text-decoration: none;
     font-size: 24px;
     margin-right: 48px;
     transition: 0.3s ease;
}

nav a:hover{
     color: var(--yellow);
}

nav a:last-child{
     margin-right: 0;
}

.nav__part i:last-child{
     margin-left: 16px;
     display: none;
}

.search{
     outline: 0;
     border: 0;
     border-radius: 35px;
     padding: 10px 50px 10px 20px;
     margin-right: 24px;
}

/* Header */

header{
     background-color: var(--bg);
     position: relative;
}

header * {
     z-index: 2;
}

.bg__item{
     opacity: 0.9;
     right: 0;
     position: absolute;
     z-index: 1;
}

.header__container{
     padding-top: 100px;
     padding-bottom: 40px;
     width: 80%;
     margin: 0 auto;
     display: flex;
     justify-content: space-between;
     align-items: center;
}

.header__part:last-child{
     display: flex;
     justify-content: flex-end;
     width: 45%;
}

.header__part img{
     width: 100%;
}

.header__container h1{
     background-color: var(--bg);
     color: var(--brown);
     font-weight: 600;
     font-size: 72px;
     line-height: 108px;
     margin-bottom: 24px;
}

.header__container h1 span{
     color: var(--yellow);
}

.header__container p{
     width: 60%;
     color: var(--light--gray);
     font-size: 24px;
     line-height: 36px;
}

.btn{
     margin-top: 32px;
     width: 220px;
     height: 64px;
     display: flex;
     justify-content: center;
     align-items: center;
     font-weight: 600;
     font-size: 18px;
     line-height: 28px;
     color: white;
     text-decoration: none;
     background-color: var(--brown);
     box-shadow: 0px 4px 32px rgba(223, 195, 124, 0.25);
     border-radius: 33px;
     transition: 0.3s ease;
}

.btn__img{
     margin-left: 8px;
     width: 24px;
     height: 24px;
     display: flex;
     justify-content: center;
     align-items: center;
     border-radius: 100%;
     background-color: var(--yellow);
     transition: 0.3s ease;
}

.btn__img i{
     font-size: 16px;
     color: white;
}

.btn:hover{
     background-color: var(--yellow);
     color: var(--brown);
}

.btn:hover .btn__img{
     background-color: var(--brown);
}

.btn:hover .btn__img i{
     color: white;
}

/* Popular */
#popular{
     padding-top: 80px;
     background: linear-gradient(to bottom, var(--bg) 70%, white 30%);
     position: relative;
}

.bg__second__item{
     opacity: 0.9;
     margin-top: -90px;
     margin-left: 30px;
     position: absolute;
}

.bg__second__item img{
     width: 100%;
}

#popular .container{
     width: 90% !important;
     display: flex;
     justify-content: center;
     flex-direction: column;
     position: relative;
     z-index: 2;
}

#popular .title{
     margin-left: 5%;
     padding-bottom: 40px;
}

.products{
     width: 90%;
     margin: 0 auto;
     display: grid;
     grid-template-columns: repeat(3, 1fr);
     grid-gap: 65px;   
     position: relative;
     z-index: 2;  
}


.product__outter{
     display: flex;
     align-items: center;
     justify-content: center;
     border-radius: 12px;
     background: linear-gradient(180deg, rgba(255, 255, 255, 0.2) 0%, rgba(255, 255, 255, 0.4) 100%);
     backdrop-filter: blur(4px);

}

.product{
     padding: 20px 0;
     margin: 8px;     
     width: 100%;
     border-radius: 12px;
     background-color: #fff;
}

.product__img{
     width: 90%;
     margin: 0 auto;
     position: relative;
}

.rating__outter{
     top: 8px;
     left: 10px;
     position: absolute;
     display: flex;
     align-items: center;
     justify-content: center;
     border-radius: 27px;
     background: linear-gradient(180deg, rgba(255, 255, 255, 0.2) 0%, rgba(255, 255, 255, 0.4) 100%);
     backdrop-filter: blur(4px);
}

.rating{
     padding: 6px 10px;
     margin: 4px;
     border-radius: 50px;
     font-weight: 700;
     font-size: 14px;
     line-height: 21px;
     letter-spacing: 0.04em;
     color: var(--brown);
     background-color: #fff;
}

.fa-star{
     color: var(--yellow);
}

.product__img img{
     width: 100%;
     border-radius: 6px;
}

.product__title{
     padding-top: 20px;
     width: 82%;
     margin: 0 auto;
     display: flex;
     align-items: center;
     justify-content: space-between;
     color: var(--brown);
     font-size: 28px;
     line-height: 48px;
     letter-spacing: 0.04em;
}

.product__title p{
     font-weight: 600;
}

.product__title span{
     font-weight: 700;
}

.product__buy{
     padding-top: 8px;
     display: flex;
     justify-content: space-between;
     align-items: center;
     width: 82%;
     margin: 0 auto;
}

.product__buy p{
     width: 60%;
     font-weight: 600;
     font-size: 18px;
     line-height: 28px;
     color: var(--gray);
}

.product__buy div{
     width: 54px;
     height: 54px;
     display: flex;
     justify-content: center;
     align-items: center;
     border-radius: 100%;
     background-color: var(--yellow);
     color: white;
     transition: 0.2s ease;
}

.product__buy div:hover{
     cursor: pointer;
     background-color: var(--brown);
}

.product__buy i {
     font-size: 24px;
}

.bg__products{
     position: absolute;
     z-index: 1;
     margin: 0 auto;
     width: 100%;
     border-radius: 80px;
     height: 420px;
     margin-top: 320px;
     background-color: var(--light--orange);
}

/* Delivery */
#delivery{
     padding-top: 160px;
}

.delivery__list{
     margin-top: 48px;
     display: grid;
     grid-template-columns: repeat(3, 1fr);
}

.delivery__item{
     display: flex;
     flex-direction: column;
     align-items: center;
     color: var(--brown);
}

.primary__delivery{
     margin-top: 15px;
     font-weight: 600;
     font-size: 24px;
     line-height: 36px;
}

.secondary__delivery{
     margin-top: 8px;
     font-weight: 400;
     font-size: 18px;
     line-height: 27px;
}

/* About Us */

#about__us{
     margin-top: 240px;
     background: var(--bg) url(../img/bg__about__us.png);
     background-size: cover;
}

#about__us .container{
     width: 70%;
}

.about__us__list{
     display: flex;
     justify-content: space-between;
     align-items: center;
}

.about__us__item:first-child{
     margin-right: 15%;
}

.about__us__item img{
     width: 480px;
     margin: -100px 0 100px 0;
     border-radius: 12px;
     border: 5px solid white;
}

.secondary__title{
     margin: 32px 0 20px 0;
     font-weight: 600;
     font-size: 32px;
     line-height: 48px;
}

.para{
     font-weight: 400;
     font-size: 24px;
     line-height: 36px;
     color: var(--light--gray);
}

@media screen and (max-width: 1440px) {
     .title{
          font-size: 32px;
          line-height: 48px;
     }
     /* NavBar */
     nav a{
          font-size: 18px;
          margin-right: 32px;
     }
     .logo{
          height: 30px;
     }
     .nav__part i{
          font-size: 24px;
     }
     .amout__products{
          position: absolute;
          margin-top: -3px;
          margin-right: 8px;
          font-size: 7px;
     }
     /* Header */
     .bg__item{
          width: 400px;
     }
     .header__container{
          padding-top: 80px;
          padding-bottom: 30px;
     }
     .header__container h1{
          font-size: 48px;
          line-height: 72px;
     }
     .header__container p{
          font-size: 18px;
          line-height: 27px;
     }
     .btn{
          font-size: 14px;
          line-height: 21px;
          width: 170px;
          height: 50px;
     }
     .btn__img{
          width: 18px;
          height: 18px;
     }
     .btn__img i{
          font-size: 12px;
     }
     /* Popular */
     #popular .title{
          padding-bottom: 32px;
     }
     .product{
          margin: 6px;
     }
     .products{
          grid-gap: 50px;
     }
     .product__title{
          font-size: 24px;
          line-height: 36px;
     }
     .product__buy p{
          font-size: 14px;
          line-height: 21px;
     }
     .product__buy div{
          width: 40px;
          height: 40px;
     }
     .product__buy i{
          font-size: 18px;
     }
     .bg__products{
          height: 360px;
          margin-top: 240px;
     }
     .bg__second__item{
          width: 480px;
          margin-top: -70px;
          margin-left: 10px;
     }
     /* Delivery */
     #delivery{
          padding-top: 120px;
     }
     /* About Us */
     #about__us{
          margin-top: 180px;
          background: var(--bg) url(../img/bg__about__us.png);
          background-size: cover;
     }
     .about__us__item img{
          width: 360px;
          margin: -80px 0 80px 0;
          border-radius: 12px;
          border: 5px solid white;
     }
     .secondary__title{
          margin: 24px 0 16px 0;
          font-weight: 600;
          font-size: 24px;
          line-height: 36px;
     }
     .para{
          font-weight: 400;
          font-size: 18px;
          line-height: 27px;
          color: var(--light--gray);
     }
}

@media screen and (max-width: 1024px) {
     .title{
          font-size: 28px;
          line-height: 42px;
     }
     /* NavBar */
     nav{
          grid-template-columns: 2fr 3fr 2fr;
     }
     nav a{
          font-size: 16px;
          margin-right: 28px;
     }
     .logo{
          height: 30px;
     }
     .nav__part i{
          font-size: 24px;
     }
     .amout__products{
          position: absolute;
          margin-top: -3px;
          margin-right: 8px;
          font-size: 7px;
     }
     /* Header */
     .bg__item{
          width: 300px;
     }
     .header__container{
          padding-top: 60px;
          padding-bottom: 24px;
     }
     .header__container h1{
          font-size: 40px;
          line-height: 60px;
          margin-bottom: 16px;
     }
     .header__container p{
          width: 70%;
          font-size: 14px;
          line-height: 20px;
     }
     .btn{
          font-size: 12px;
          line-height: 16px;
          width: 140px;
          height: 40px;
          margin-top: 24px;
     }
     .btn__img{
          width: 15px;
          height: 15px;
     }
     .btn__img i{
          font-size: 10px;
     }
     /* Popular */
     #popular .title{
          padding-bottom: 24px;
     }
     .product{
          margin: 5px;
     }
     .products{
          grid-gap: 32px;
     }
     .product__title{
          font-size: 18px;
          line-height: 24px;
     }
     .product__buy p{
          font-size: 12px;
          line-height: 18px;
     }
     .product__buy div{
          width: 32px;
          height: 32px;
     }
     .product__buy i{
          font-size: 14px;
     }
     .bg__products{
          height: 280px;
          margin-top: 200px;
     }
     .rating__outter{
          top: 4px;
          left: 6px;
     }
     .rating{
          font-size: 12px;
          line-height: 16px;
          margin: 3px;
          padding: 4px 7px;
     }
     /* Delivery */
     #delivery{
          padding-top: 100px;
     }
     .delivery__item img{
          width: 120px;
     }
     .primary__delivery{
          font-size: 18px;
          line-height: 24px;
     }
     .secondary__delivery{
          font-size: 14px;
          line-height: 18px;
     }
     /* About Us */
     #about__us{
          margin-top: 150px;
          background: var(--bg) url(../img/bg__about__us.png);
          background-size: cover;
     }
     .about__us__item img{
          width: 270px;
          margin: -70px 0 70px 0;
          border-radius: 12px;
          border: 5px solid white;
     }
     .secondary__title{
          margin: 20px 0 14px 0;
          font-weight: 600;
          font-size: 20px;
          line-height: 30px;
     }
     .para{
          font-weight: 400;
          font-size: 14px;
          line-height: 21px;
          color: var(--light--gray);
     }
}

@media screen and (max-width: 768px) {
     html, body{
          overflow-x: hidden;
     }
     nav{
          z-index: 10;
          top: 0;
          position: fixed;
          display: flex;
          justify-content: space-between;
          align-items: center;
          padding: 20px 5%;
          width: 90%;
          background: var(--bg);
     }
     .mobile__menu{
          display: flex;
          justify-content: flex-end;
          position: fixed;
          background-color: rgba(0, 0, 0, 0.4);
          width: 100vw;
          height: 100vh;
          opacity: 0;
          transition: 0.3s ease;
          overflow: hidden;
          top: 0;
          z-index: 1000;
     }
     .list__menu{
          height: 100%;
          background-color: var(--bg);
          display: block;
          padding: 20px 40px 20px 20px;
     }
     .list__menu *{
          display: block;
          text-align: right;
          width: 100%;
     }
     .list__menu a{
          margin-left: 7%;
          color: var(--black);
          text-decoration: none;
          font-size: 16px;
          transition: 0.3s ease;
     }
     .list__menu a:hover{
          color: var(--yellow);
     }
     header{
          padding-top: 70px;
     }
     .nav__border{
          border-bottom: 1px solid rgba(0, 0, 0, 0.2);
          box-shadow: 4px 4px 8px 0px rgba(0, 0, 0, 0.2);
     }
     .nav__part:nth-child(2){
          display: none;
     }
     .nav__part i:last-child{
          display: block;
     }
     .search{
          display: none;
     }
     .header__container{
          padding-top: 40px;
          padding-bottom: 16px;
          width: 90%;
     }
     .header__part:last-child{
          width: 50%;
     }
     .header__container h1{
          font-size: 32px;
          line-height: 48px;
          margin-bottom: 12px;
     }
     .header__container p{
          font-size: 12px;
          line-height: 16px;
     }
     .btn{
          margin-top: 20px;
     }
     .bg__item{
          width: 240px;
          position: absolute;
          margin-right: -40px;
     }
     /* Popular */
     #popular{
          background: linear-gradient(to bottom, var(--bg) 85%, white 15%);
     }
     #popular .title{
          padding-bottom: 24px;
     }
     .product{
          margin: 5px;
     }
     .product__outter:nth-child(1){
          grid-area: a;
     }
     .product__outter:nth-child(2){
          grid-area: b;
     }
     .product__outter:nth-child(3){
          margin: 0 25%;
          grid-area: c;
     }
     .products{
          grid-template-columns: 1fr 1fr;
          grid-template-areas: 
          "a b"
          "c c";
          grid-gap: 32px;
     }

     .product__title{
          font-size: 18px;
          line-height: 24px;
     }
     .product__buy p{
          font-size: 12px;
          line-height: 18px;
     }
     .product__buy div{
          width: 32px;
          height: 32px;
     }
     .product__buy i{
          font-size: 14px;
     }
     .bg__products{
          height: 650px;
     }
     /* Delivery */
     #delivery{
          padding-top: 80px;
     }
     .delivery__item:nth-child(1) {
          grid-area: x;
     }
     .delivery__item:nth-child(2) {
          grid-area: y;
     }
     .delivery__item:nth-child(3) {
          padding-top: 40px;
          grid-area: z;
          margin: 0 25%;
     }
     .delivery__list{
          grid-template-columns: 1fr 1fr;
          grid-template-areas: 
          "x y"
          "z z";
     }
     /* About Us */
     #about__us{
          margin-top: 120px;
          background: var(--bg) url(../img/bg__about__us.png);
          background-size: cover;
     }
     #about__us .container{
          width: 80%;
     }
     .about__us__item:first-child{
          margin-right: 10%;
     }
     .about__us__item img{
          width: 220px;
          margin: -60px 0 60px 0;
          border-radius: 12px;
          border: 4px solid white;
     }
     .secondary__title{
          margin: 18px 0 12px 0;
          font-weight: 600;
          font-size: 16px;
          line-height: 24px;
     }
     .para{
          font-weight: 400;
          font-size: 12px;
          line-height: 18px;
          color: var(--light--gray);
     }
}

@media screen and (max-width: 480px) {
     .title{
          font-size: 24px;
          line-height: 36px;
     }    
     .bg__item{
          display: none;
     }
     .header__container h1{
          font-size: 28px;
          line-height: 36px;
     }
     .header__container p{
          width: 90%;
     }
     .header__part:last-child{
          position: relative;
     }
     .header__part img{
          z-index: 0;
          width: 300px;
          position: absolute;
          margin-top: -100px;
          margin-right: -120px;
          transform: scale(0.9);
          
     }
     /* Popular */
     #popular{
          background: linear-gradient(to bottom, var(--bg) 85%, white 15%);
     }
     #popular .title{
          padding-bottom: 24px;
     }
     .product{
          margin: 5px;
     }
     .product__outter:nth-child(3){
          margin: 0;
     }
     .products{
          display: flex;
          flex-direction: column;
     }

     .product__title{
          font-size: 18px;
          line-height: 24px;
     }
     .product__buy p{
          font-size: 12px;
          line-height: 16px;
     }
     .product__buy div{
          width: 30px;
          height: 30px;
     }
     .product__buy i{
          font-size: 14px;
     }
     .bg__products{
          border-radius: 40px;
          margin-top: 78px;
          height: 97%;
     }
     /* Delivery */
     #delivery{
          padding-top: 50px;
     }
     .delivery__item:nth-child(3) {
          padding-top: 0;
          margin: 0;
     }
     .delivery__list{
          display: flex;
          flex-direction: column;
     }
     .delivery__item{
          padding-bottom: 32px;
     }
     #about__us{
          margin-top: 60px;
          background: var(--bg) url(../img/bg__about__us.png);
          background-size: cover;
     }
     #about__us .container{
          width: 100%;
     }
     .about__us__item{
          padding: 40px 0;
          margin-right: 10%;
     }
     .about__us__item:first-child{
          margin-left: -10%;
     }
     .about__us__item img{
          margin: 0;
          width: 180px;
          border-radius: 12px;
          border: 4px solid white;
     }
     .secondary__title{
          margin: 18px 0 12px 0;
          font-weight: 600;
          font-size: 16px;
          line-height: 24px;
     }
     .para{
          font-weight: 400;
          font-size: 12px;
          line-height: 18px;
          color: var(--light--gray);
     }
}

@media screen and (max-width: 400px) {

     .about__us__item:first-child{
          margin-left: -15%;
     }
     .about__us__item img{
          width: 150px;
     }
     .about__us__item{
          margin-right: 5%;
     }
}

@media screen and (max-width:320px) {
     .header__container{
          padding-top: 30px;
          padding-bottom: 12px;
     }
     .header__container *{
          position: relative;
          z-index: 2;
     }
     .header__part:last-child{
          width: 50%;
     }
     .header__container h1{
          font-size: 24px;
          line-height: 32px;
     }
     .header__part img{
          z-index: 0;
          bottom: 0;
          width: 220px;
          margin-bottom: -80px;
          margin-right: -110px;
     }
     .bg__second__item{
          display: none;
     }
        /* Popular */
        #popular{
          background: linear-gradient(to bottom, var(--bg) 85%, white 15%);
     }
     #popular .title{
          padding-bottom: 24px;
     }
     .product{
          margin: 5px;
     }
     .product__outter:nth-child(3){
          margin: 0;
     }
     .products{
          display: flex;
          flex-direction: column;
     }

     .bg__products{
          border-radius: 40px;
          margin-top: 66px;
          height: 97%;
     }
     /* About us */
     #about__us{
          margin-top: 50px;
     }
     .about__us__item:first-child{
          margin-left: -15%;
     }
     .about__us__item img{
          width: 140px;
     }
     .about__us__item{
          margin-right: 5%;
     }
}